# Introduction to Markdown
## Introduction to Markdown
### Introduction to Markdown
#### Introduction to Markdown
##### Introduction to Markdown

### Introduction to Python Programming
- Used as genral Pyrpose programming language
- Functional Programming
- Scripting Proframming and *Object Oriented Programming*
- Introduced in yhe year of 1991 by **van gudio russum**
- Maintained by ***Google***
   - Used in ***Data Science***
   - Used in ***Machine Learning***
   - Used in **AI**

# Image generation

<img src = "chaitu.jpg"/>

In [21]:
pwd# Presnt working directory (which is a linux command)

'C:\\Users\\LENOVO'

# Introduction

In [16]:
# print() is used to print othe group of characters on console screen
print("Welcome to Python")

Welcome to Python

In [17]:
print("Welcome to Python")
print("Welcome to Jupyter Notebook")

Welcome to Python
Welcome to Jupyter Notebook

In [19]:
# Here the , represents the concatination i.e is addition in C & C++ Languages
print("Welcome to Python",end = ' ')
print("Welcome to Jupyter Notebook")

Welcome to Python Welcome to Jupyter Notebook

In [20]:
print("Data","AI")

Data AI

In [22]:
a = 15522200 # int
print(a)

15522200

In [23]:
type(a)

int

In [25]:
print(a,(type(a)))

15522200 <class 'int'>

In [26]:
f = 1235.6547
print(f)

1235.6547

In [27]:
type(f)

float

In [28]:
print(f,type(f))

1235.6547 <class 'float'>

# **NOTE**: In Python the data type is same for both ***CHARACTER*** and ***String***

In [29]:
s1 = 'a'
s2 = 'application'
print(s1,type(s1))
print(s2,type(s2))

a <class 'str'>
application <class 'str'>

## Type Conversions

-int

   -Input will be converted into integer format
   
-float

   -Input will be converted into float format
   
-str()

   --Input will be converted into string/char format

In [31]:
s1 = "1234"
print(s1,type(s1))
a1 = int(s1)
print(a1,type(a1))

1234 <class 'str'>
1234 <class 'int'>

In [39]:
a = "160.1998"
print(a,type(a))
s=float(a)
print(s,type(s))
v=int(s)
print(v,type(v))

160.1998 <class 'str'>
160.1998 <class 'float'>
160 <class 'int'>

## Input Method of PP

- input() is used to read the input from console
- It reads the input in terms of string format
- Use any conversion method to have inputs
   - int
   - float

In [40]:
name = input(' Enter Your Name ')
print("Your name is",name)

 Enter Your Name Sai Chaitanya
Your name is Sai Chaitanya

In [41]:
name = input(' ')
print("Your name is",name)

 Sai Chaitanya
Your name is Sai Chaitanya

In [1]:
num = input('')
print(num,type(num))

92
92 <class 'str'>

In [2]:
num = int(input(''))
print(num,type(num))

92
92 <class 'int'>

## Operators

- ++ and -- will not work in python , Use += 1, -=1 **(Unary Operators)**
- Symbols of &&,|| and ! will not work in python
- Insted Use and or not
- True and false can be used in Python **(bool operators)**
- / and // Both can be used for Division
- *  and **

In [3]:
a = 10
b = 3
print(a/b)
print(a//b)
print(a*b)
print(a**b)

3.3333333333333335
3
30
1000

In [4]:
a = 10
b = (a>100) and (a<=10)
print(b)

False

## Control Flow Statements
- Conditional Statements

 - if else (switch is removed)

- Looping Statements

   - while (do while is removed)

   - for

In [8]:
# we need to check the Indendations properly

In [9]:
a = 100
if a>100:
    print('Yes')
else:
    print('No')

No

In [11]:
a = 1000
if a>100:
    print('Yes')
else:
    print('No')

Yes

In [13]:
# Here by default we are printing as True

In [14]:
if True:
    print('Gitam')
else:
    print('Hello')

Gitam

In [15]:
### Note: Python programming is always case sensitive

In [16]:
# Read input as number and print "Yes" if it is perfectly divisible by 3 and 5 Otherwise Print "No"

In [26]:
z = int(input(' '))
if (z % 3 ==0 and z % 5 ==0):
    print('Yes')
else:
    print("No")

 72
No

In [25]:
# Read the input as number and test whether it is Positive, Negative or Zero

In [28]:
a = -26
if a > 0:
    print("Postive Number")
elif a<0:
    print("Negative Number")
elif a==0:
    print("Zero")

Negative Number

In [ ]:
# check for all conditions by n=110,n=120,n=130

In [34]:
n = 100
if n > 10:
    print('Good')
elif n > 20:
    print('Better')
elif n > 30:
    print('Best')
else:
    print("Nothing")

Nothing

- **ord() gives the character ASCII Number
- ASCII for characters
     - **A - Z -- 65 -90**
     - **a - z -- 97 -122**
     - **0 - 9 -- 48 - 57**
     - ** Space -- 32**

In [40]:
print(ord('A'))
print(ord('a'))
print(ord('0'))

65
97
48

In [41]:
# Read the input as character and Print wheather is "Upper Case","Lower Case" or "Digit"

In [4]:
c = input('')
if ord(c) >=65 and ord(c) <= 90:
    print("Upper Case")
elif ord(c) >= 97 and ord(c) <= 122:
    print("Lower Case")
elif ord(c) >= 48 and ord(c) <= 57:
    print("Digit")

a
Lower Case

In [1]:
# chr()  --- atakes the input as ASCII and Ouput represnts the Character
print(chr(65))
print(chr(97))
print(chr(48))

A
a
0

## Read the input as character and print the output as case change
### A -- a
### s -- S

### conversion of lower case to upper case

In [12]:
d = input('')
if ord(d) >= 65 and ord(d) <= 90:
    print(chr(ord(c)+32))
elif ord(d) >= 97 and ord(d) <= 122:
    print(chr(ord(d)-32))

e
E

## Loop Statements While and for

### while -- Does not know the fixed number of iterations

### for -- knows the fixed number of iterations

In [15]:
# Read the input as N and Print the Natural numbers from 1 to  N
n = int(input(' '))
i = 1
while i <= n:
    print(i,end=' ')
    i += 1

 9
1 2 3 4 5 6 7 8 9

In [16]:
# Read the input as n and Print the output as sum of even numbers 
# from 1 to N
# 10 -- 30
# 15 -- 56

In [1]:
max=int(input("please enter the maximum value: "))
even_Sum=0
odd_Sum=0
num=1
while (num<=max):
    if (num%2==0):
        even_Sum=even_Sum+num
    else:
        odd_Sum=odd_Sum+num
    num+=1
print("The sum of Even numbers 1 to entered number", even_Sum))
print("The sum of Even numbers 1 to entered number", odd_Sum))

SyntaxError: invalid syntax (<ipython-input-1-2847e06e7ce8>, line 11)

In [6]:
n = int(input(' '))
i = 1
s = 0
while i <= n:
    if i % 2 ==0:
        s = s + i
    i += 1   
print(s)

 10
30

In [7]:
# Read the two numbers as input and Print the output in following
# 2 5 - 1 2 3 4 5 1 2 3 4 5
# 3 2 -- 1 2 1 2 1 2

In [9]:
l = int(input(' '))
n = int(input(' '))
x = 0
while x < l:
    i = 1
    while i <= n:
        print(i,end = ' ')
        i += 1
    x += 1

 2
 5
1 2 3 4 5 1 2 3 4 5

In [4]:
# Read the Number as input and Print the print output as following
# 145 -- 541
# 1889 -- 9881

num = int(input(''))
while num != 0:
    r = num % 10
    print(r,end = ' ')
    num = num  // 10

1889
9 8 8 1

In [1]:
# Read the input as Number and Print the Output as following
# 145 -- Five Four One
# 1889 -- Nine Eight Eight One

# Note : As switch case is not possible in python, Solve using (if-elif-else)

num = int(input(''))
while num != 0:
    r = num % 10
    if r == 0:
        print("Zero", end = ' ')
    elif r ==1:
        print("One", end = ' ')
    elif r == 2:
        print("Two", end = ' ')
    elif r == 3:
        print("Three", end = ' ')
    elif r == 4:
        print("Four", end = ' ')
    elif r == 5:
        print("Five", end = ' ')
    elif r == 6:
        print("Six", end = ' ')
    elif r == 7:
        print("Seven", end = ' ')
    elif r == 8:
        print("Eight", end = ' ')
    elif r == 9:
        print("Nine", end = ' ')
    num = num // 10

1889
Nine Eight Eight One

## Functional Programming

- A block of repeated calling statements called as function
- A block of statements represents for particular task is called as function
- A function makes programming more effective in terms of **Reuseability** and **Readability**
- Function in python can be defined as **def** keyword
- Write the function name always with **Camel Case**
- Examples :- **fact() , isPalindrome() , isUserTest()**
- Parameters of the function can be **Optional**
- **Syntax:-** def funName(<Parameters>)
               {
                
                    Statements
                    return
                    
                }

In [7]:
# Read the number as input and Print the output as following
# 145 --- Yes
# 123 --- No
# Hint :- Individual Digit factorial sum is same as original number then print "Yes" otherwise "No"
 # Example
    # 145 -- 541
    # 5! = 120
    # 4! = 24
    # 1! = 1
    
    # 120+24+1 = 145("Yes")

In [8]:
def fact(n):
    f = 1
    while n != 0:
        f = f*n
        n -= 1
    return f
def digitExtract(x):
    sum = 0
    while x != 0:
        r = x % 10
        sum += fact(r)
        x = x // 10
    return sum
n = int(input())
s = digitExtract(n)
if n == s:
    print("Yes")
else:
    print("No")

145
Yes

## For loop

- range(5) prints the output as 0,1,2,3,4 Here range function will not consider the upper limit
- range(1,11) -- start valur : 1 and end value : 10
- range(0,11,2) -- start value : 0, end value : 10 and Step : 2

In [14]:
for i in range(0,5):
    print(i,end = ' ')

0 1 2 3 4

In [15]:
for i in range(5):
    print(i,end = ' ')

0 1 2 3 4

In [16]:
for i in range(1,11):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [17]:
for i in range(0,11,2):
    print(i,end = ' ')

0 2 4 6 8 10

In [20]:
# multiples of 5 between 1 and 150 (step count of 5 between 1 and 150)

for i in range(100,150,5):
    print(i,end = ' ')

100 105 110 115 120 125 130 135 140 145

In [3]:
# print the numbers in reverse order using for loop
# here 10 start value
# -1 end value
# -1 step count

for i in range(10,-1,-1):
    print(i,end = ' ')

10 9 8 7 6 5 4 3 2 1 0

In [6]:

for i in range(10,-1,-2):
    print(i,end = ' ')

10 8 6 4 2 0

In [4]:

for i in range(10,6,-3):
    print(i,end = ' ')

10 7

In [5]:

for i in range(10,6,-2):
    print(i,end = ' ')

10 8

In [2]:
#  fact of number by using a for loop


def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
num = int(input(' '))
fact(num)

5

120

In [11]:
# Even numbers from the range of two limits
# ll(lower limit)
# ul(upper limit)

def fun1(ll,ul):
    count = 0
    for i in range(ll,ul+1,2):
        count += 1
    return count
ll = 10
ul = 150
fun1(ll,ul)

71