## Data Structures in Python

- Defination :- Organising the data in a particular order.

- List
- Tuples
- Dictionary
- Sets
### List
- It's one of the common Data Structures in Python
- Lists can store differnt types of data(int,char,float,string)
- List object always enclosed with in square brackets ([])
- Every list item will be separated by comma(,) operator
- examples :-
     - list1 = [1,2,3,4,5] -> Homogenious list also called an (array)
     - list2 = ["Gitam".1990.25.85,"Hyderabad",'a'] -> Non- Homogenious list also called an (Structure)

In [90]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [91]:
# if we want to print the list elements without commas(,)
for i in range(len(li)):
    print(li[i],end = ' ')

1 2 3 4 5

In [92]:
# list -- len()
len(li)

5

In [93]:
# To update the list item
li[3] = 1997
li

[1, 2, 3, 1997, 5]

In [94]:
# Print the alternate items sum
sum = 0
for i in range(0,len(li),2):
    sum += li[i]
print(sum)

9

In [95]:
sum = 0
for i in range(0,len(li),3):
    sum += li[i]
print(sum)

1998

In [96]:
# slicing of list object
# Forward list index starts from 0 to n-1
print(li[0:3])

[1, 2, 3]

In [97]:
# print all the items except the last index
# In list object reverse index starts from -1
# -1 -2 -3 ..... -n
print(li[:-1])

[1, 2, 3, 1997]

In [98]:
print(li[2:-2])

[3]

In [99]:
print(li[1:-1])

[2, 3, 1997]

In [100]:
li[5] = 1996

# Here error is due to index is out of range

IndexError: list assignment index out of range

In [101]:
li

[1, 2, 3, 1997, 5]

In [102]:
# Delete the list item
# deletes the 3rd index of the list
del li[3]
li

[1, 2, 3, 5]

In [103]:
# Delete the entire list object

del li

## Method anf Functions of list
- Max()
    - Gives the highest item of the list
- Min()
    -  Gives the least item of the list
- Sum()
    - returns the sum of all the list items
- len()
    - returns the length of the list
- append()
    - append(listitem) : which inserts the new item at the end
- insert()
    - insert(index,listitem) : which inserts the new item at the specified index
- count()
    - count(listitem) : which returns how many times the item is repeated in the given list 
- pop()
    - pop() : will remove the item in the last index
    - pop(index) : will remove the item in the specified index
- sort()
    - sort() : will make the list in sorted order(ascending order)
- reverse()
    - reverse() : will make the list into reverse order

In [109]:
li = [1,2,1997,4,5]
print(li)

[1, 2, 1997, 4, 5]

In [110]:
print(min(li))
print(max(li))
print(len(li))
print(sum(li))

1
1997
5

TypeError: 'int' object is not callable

In [116]:
del li[5]
li

[1, 2, 1997, 4, 5, 3]

In [117]:
del li[5]
li

[1, 2, 1997, 4, 5]

In [121]:
li.append(1)
li

[1, 2, 1997, 4, 5, 1, 1, 1]

In [122]:
li.insert(1,3)

In [123]:
li

[1, 3, 2, 1997, 4, 5, 1, 1, 1]

In [124]:
print(li.count(3))

1

In [125]:
print(li.count(1))

4

In [126]:
print(li.count(25))

0

In [127]:
li

[1, 3, 2, 1997, 4, 5, 1, 1, 1]

In [132]:
# if i am not giving any list number it will directly delete the last item in the list
li.pop()
li

[1, 3, 2, 1997, 4]

In [140]:
li.pop(1)
li

[-1, -1, 1, 2, 2, 2, 3, 4, 1997]

In [141]:
li.append(2)
li

[-1, -1, 1, 2, 2, 2, 3, 4, 1997, 2]

In [142]:
li.append(-1)
li

[-1, -1, 1, 2, 2, 2, 3, 4, 1997, 2, -1]

In [143]:
li.sort()
li

[-1, -1, -1, 1, 2, 2, 2, 2, 3, 4, 1997]

In [149]:
li
li.reverse()
li

[1997, 4, 3, 2, 2, 2, 2, 1, -1, -1, -1]

In [155]:
# write a function to find second large of the given list

def secondLarge(li):
    li.sort()
    return li[-2]
li = [19,1,25,45,2,6]
secondLarge(li) # 25

25

In [159]:
# printing 2nd large item of given list
# print 3rd large item of given list
    li.sort()
    return li[-n]
li = [19,1,25,45,2,6]
print(genericLarge(li,3)) # 19
print(genericLarge(li,2)) # 25

19
25

In [162]:
# printing 2nd least item of given list
# print 3rd least item of given list
def genericLeast(li,n):
    li.sort()
    return li[n-1]
li = [19,1,25,45,2,6]
print(genericLeast(li,2))
print(genericLeast(li,3))

2
6

### Number to List Conversions

- Example :
            1597531-- [1 5 9 7 5 3 1]

In [168]:
def numberList(n):
    li = []
    while n != 0:
        li.append(n%10)
        n = n // 10
    li.reverse()    
    return li
n = int(input(''))
numberList(n)  # 1 5 9 7 5 3 1

1597531

[1, 5, 9, 7, 5, 3, 1]

In [172]:
def numberList(n):
    li = []
    while n != 0:
        li.append(n%10)
        n = n // 10
    li.reverse()    
    return li
n = int(input(''))
numberList(n)
li.count(1)

1597531

0

In [216]:
1597531 in li

True

In [217]:
1597530 in li

False

### Tuples

- Tuple is also one data structure in python
- Its similar to List object
- Tuple is used only for reading the data
- It means its immutable(we can not modify) where as list is Muatable(we can modify)
- Tuple can be defined with Paraenthsis()
- Example : t1 =(1,2,3,4)

In [173]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [174]:
print(t1[0:3])

(1, 2, 3)

In [178]:
# Deletion is not possible in tuple as it is immutable
del t1[3]

TypeError: 'tuple' object doesn't support item deletion

In [179]:
# Updation is not possible in tuple as it is immutable
t1[3] = 1997

TypeError: 'tuple' object does not support item assignment

In [181]:
# Reading the tuple data by for loop is possible
for i in range(len(t1)):
    print(t1[i],end = ' ')

1 2 3 4 5

In [182]:
#  Reading the tuple data by for loop is possible
for i in range(len(t1)):
    print(t1[i]*2,end = ' ')

2 4 6 8 10

In [183]:
# Tuple object can not used for any kind of updates,delets,inserts and append
t1

(1, 2, 3, 4, 5)

### Dictionaries

- In python another common Data Structure in Dictionaries
- This data structure works on **key** and **value**
- Every key is defined with some value and key is always as Unique Key
- This object enclosed in Curly braces {}
- Each key and value is separted from comma(,) operator
- Key and Value is separted from Colon(:) operator
- Example :- **d1 = {"k1":"vi","k2":"v2"}**
- Dictionaries are Mutable

In [185]:
d1 = {"Name":"Gitam","EmailID":"Gitam@gitam.edu","phone":4484686165}

{'Name': 'Gitam', 'EmailID': 'Gitam@gitam.edu', 'phone': 4484686165}

In [187]:
# Only one value of Key 
d1["Name"]

'Gitam'

In [188]:
d1["name"]

KeyError: 'name'

In [190]:
# Returns all the keys of d1 object
d1.keys()

dict_keys(['Name', 'EmailID', 'phone'])

In [191]:
d1.values()

dict_values(['Gitam', 'Gitam@gitam.edu', 4484686165])

In [193]:
# Update the d1 data by using specified key
d1["EmailID"] ='GitamHyd@gitam.in'
d1

{'Name': 'Gitam', 'EmailID': 'GitamHyd@gitam.in', 'phone': 4484686165}

In [201]:
# Delete the d1 data by specified key
del d1['phone']

KeyError: 'phone'

In [200]:
d1

{'Name': 'Gitam', 'EmailID': 'GitamHyd@gitam.in'}

In [202]:
del d1

In [203]:
d1

NameError: name 'd1' is not defined

## Contact Application
- **add contact**
- **search contact**
- **import contact**
- **modify contact number** : Here key can not be modified but value can be modified
- **delete contact**

In [208]:
# Empty Dict Object
contacts = {}
def addContact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print(name,'added Successfully')
    else:
        print(name,'already Exist in Contacts')
    return
addContact('Anil',9966755566)
addContact('Harsha', 9465886260)
addContact('Anil',94468982)

Anil added Successfully
Harsha added Successfully
Anil already Exist in Contacts

In [209]:
contacts

{'Anil': 9966755566, 'Harsha': 9465886260}

In [210]:
def searchContact(name):
    if name in contacts:
        print(name,' : ',contacts[name])
    else: 
        print(name,"is not presnt")
    return
searchContact('Anil')
searchContact('Harsha')
searchContact('Ajay')

Anil  :  9966755566
Harsha  :  9465886260
Ajay is not presnt

In [211]:
contacts

{'Anil': 9966755566, 'Harsha': 9465886260}

In [221]:
def importContact(newContacts):
    contacts.update(newContacts)
    print('No: ',len(newContacts.keys()),'Succssfully added')
    return
newContacts = {"Ajay":9966755566,"Arvind":7521556551,"Rakesh":764824415}
importContact(newContacts)

No:  3 Succssfully added

In [223]:
contacts

{'Anil': 9966755566,
 'Harsha': 9465886260,
 'Ajay': 9966755566,
 'Arvind': 7521556551,
 'Rakesh': 764824415}

In [225]:
def modifyContactDetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,'Phone Number is Updated')
    else:
        print(name,'Not exists in Phone Dict')
    return
modifyContactDetails('Anil',888851455)
modifyContactDetails('Dinesh',785156624)

Anil Phone Number is Updated
Dinesh Not exists in Phone Dict

In [226]:
contacts

{'Anil': 888851455,
 'Harsha': 9465886260,
 'Ajay': 9966755566,
 'Arvind': 7521556551,
 'Rakesh': 764824415}

In [227]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,'Delete Successfully')
    else:
        print(name,'details are not present')
    return
deleteContact('Harsha')
deleteContact('Dinesh')

Harsha Delete Successfully
Dinesh details are not present

In [228]:
contacts

{'Anil': 888851455,
 'Ajay': 9966755566,
 'Arvind': 7521556551,
 'Rakesh': 764824415}

In [229]:
# Try to add Single name (we need to add each list  to each new contact in an object) should have multiple values
def appendContact(name):
    if name in contacts:
        contacts

In [231]:
# Try to sort dict object(keys) # here names data 

for i in sorted(contacts.keys()):
    print(i,contacts[i])

Ajay 9966755566
Anil 888851455
Arvind 7521556551
Rakesh 764824415

## Strings in Python

In [234]:
x = 0
while False:
    x = x + 1
    print('So good to see you')